header, footer {
  background-color: #579C87;
  color: #F2C74A;
  text-align: center;
  width: 100%;
}

header {
  font-weight: bold;
  font-size: 3em;
  height: 150px;
  margin-top: -50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 15px;
}

#mention {
  padding-left: 3%;
}

#contact {
  padding-right: 3%;
}

@font-face {
  font-family: 'playtimewithhottoddiesobliqRg';
  src: url("PlaytimeOblique-webfont.eot");
  src: url("PlaytimeOblique-webfont.eot?#iefix") format("embedded-opentype"), url("PlaytimeOblique-webfont.woff2") format("woff2"), url("PlaytimeOblique-webfont.woff") format("woff"), url("PlaytimeOblique-webfont.ttf") format("truetype"), url("PlaytimeOblique-webfont.svg#playtimewithhottoddiesobliqRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aliceregular';
  src: url("Alice-Regular-webfont.eot");
  src: url("Alice-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Alice-Regular-webfont.woff2") format("woff2"), url("Alice-Regular-webfont.woff") format("woff"), url("Alice-Regular-webfont.ttf") format("truetype"), url("Alice-Regular-webfont.svg#aliceregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

h2 {
  text-align: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  height: 1250px;
  text-align: center;
  margin-left: 15%;
  margin-top: 5%;
}

.menu__nom {
  border: 1px solid;
  padding: 20% 5% 20% 5%;
  width: 300px;
  height: 150px;
  text-align: center;
}

.menu__lien {
  text-align: center;
}

.menu--lanote {
  font-family: 'playtimewithhottoddiesobliqRg', Arial, sans-serif;
  font-size: 20px;
  background-color: #FCDFDB;
  color: #997576;
}

.menu--lanote a {
  text-decoration: none;
}

.menu--lanote :hover {
  color: #997576;
}

.menu--lechic {
  background-color: #FFF5FE;
  font-family: 'aliceregular', Arial, Helvetica, sans-serif;
}

.menu--lechic a {
  text-decoration: none;
}

.menu--lechic :hover {
  color: #997576;
}

.menu--ledelice {
  background-color: #F9F9F9;
  color: #997576;
}

.menu--ledelice a {
  text-decoration: none;
}

.menu--ledelice :hover {
  color: #997576;
}

.menu--palette {
  background-color: #FDFFFD;
  color: #997576;
}

.menu--palette a {
  text-decoration: none;
}

.menu--palette :hover {
  color: #997576;
}

#attente {
  display: block;
  text-align: center;
  background-color: #579C87;
  background-position: center;
  width: 25%;
  color: #F2C74A;
  margin-left: 35%;
  border: -2px -2px 10px black;
  padding: 20px 50px 20px 50px;
  font-size: 2.5em;
  font-weight: bold;
  border-radius: 30px;
}
/*# sourceMappingURL=style.css.map */