header, footer
{
	background-color : $extremite;
	color :$ecrit;
	text-align: center;
  width: 100%;
}
header
{
font-weight: bold;
font-size: 3em;
height: 150px;
margin-top: -50px;
}

footer
{
	display: flex;
  justify-content: space-between;
  height: 80px;
  font-size: 1.5em;
  font-weight: bold;
  position: fixed;
  bottom: 0;
}
#mention
{
  padding-left: 3%;
}
#contact
{
  padding-right: 3%;
}