header, footer
{
	background-color : $extremite;
	color :$ecrit;
	text-align: center;
  width: 100%;
}
header
{
font-weight: bold;
font-size: 3em;
height: 150px;
margin-top: -50px;
}

footer
{
	display: flex;
  justify-content: space-around;
  height: 80px;
  font-size: 1.5em;
  font-weight: bold;
  position: fixed;
  bottom: 0;
}
.pied
  {
    text-decoration: none;
    font-size: 30px;
    color: $ecrit;
  }
#contact
{
  margin-left: 60%;
}
.tete
{
  text-decoration: none;
  color: $ecrit;
}

//responsive//
@media all and (max-width: 768px)
{
footer
{
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  height: 43px;
} 
#contact
{
  margin-left: 0%;
}
.pied
{
  font-size: 20px;
  margin-top: -25px;
}
#mention
{
  padding-top: 25px;
}
.marge1
{
  margin-top: -25px;
}
header
{
  font-size: 1.7em;
  width:100%;
  height: 100px;
}
h1
{
  padding-top: 15px;
}
}