header, footer
{
	background-color : $extremite;
	color :$ecrit;
	text-align: center;
  width: 100%;
}
header
{
font-weight: bold;
font-size: 3em;
height: 150px;
margin-top: -50px;
}

footer
{
	display: flex;
  justify-content: space-around;
  height: 80px;
  font-size: 1.5em;
  font-weight: bold;
  position: fixed;
  bottom: 0;
}
.pied
  {
    text-decoration: none;
    font-size: 30px;
    color: $ecrit;
  }
#contact
{
  margin-left: 60%;
}
.tete
{
  text-decoration: none;
  color: $ecrit;
}