//couleurs//
$extremite : #579C87;
$ecrit : #F2C74A;

$lanote: #FCDFDB;
$lanote_ecrit:#997576;

$lechic: #FFF5FE;
$lechic_ecrit:#E9BFAB;

$ledelice: #F9F9F9;
$ledelic_ecrit:#C5D1F3;

$lapalette: #FDFFFD;
$lapalette_ecrit:#BEC780;

