@import"variables";
@import"entetepied";
body
{
	background-color: $lanote;
	text-align: center;;
}
main
{
	font-family: Lobster, Arial, Helvetica, sans-serif;
	padding-top: 5%;
	padding-bottom: 10%;
	font-size: 30px;
}

main h1
{
	font-size: 70px;
}

table
{
	margin: 0 auto;
	text-align: justify;
	padding-bottom: 50px;
}
tr
{
	padding-bottom: 50px;
}
h2
{
	font-weight: bold;
}
i
{
	font-size: 80px;
	background: -webkit-linear-gradient(left, rgb(224, 16, 16), rgb(224, 157, 12));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}