@import"variables";
@import"entetepied";

@font-face {
	font-family: 'playtimewithhottoddiesobliqRg';
	src: url('PlaytimeOblique-webfont.eot');
	src: url('PlaytimeOblique-webfont.eot?#iefix') format('embedded-opentype'),
			 url('PlaytimeOblique-webfont.woff2') format('woff2'),
			 url('PlaytimeOblique-webfont.woff') format('woff'),
			 url('PlaytimeOblique-webfont.ttf') format('truetype'),
			 url('PlaytimeOblique-webfont.svg#playtimewithhottoddiesobliqRg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'aliceregular';
	src: url('Alice-Regular-webfont.eot');
	src: url('Alice-Regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('Alice-Regular-webfont.woff2') format('woff2'),
			 url('Alice-Regular-webfont.woff') format('woff'),
			 url('Alice-Regular-webfont.ttf') format('truetype'),
			 url('Alice-Regular-webfont.svg#aliceregular') format('svg');
	font-weight: normal;
	font-style: normal;

} 
//general //

h2
{
	text-align: center;
}
//logo//


//menus//
.menu
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 70%;
	height: 1250px;
	text-align: center;
	//border: 1px solid;//
	margin-left: 15%;
	margin-top: 5%;
}
.menu__nom
{
	border: 1px solid;
	padding: 20% 5% 20% 5%;
	width: 300px;
	height: 150px;
	text-align: center;
	
}
.menu__lien
{
	text-align: center;
}

//menu la note enchantée//
.menu--lanote
{
font-family: 'playtimewithhottoddiesobliqRg', Arial, sans-serif;
font-size: 20px;
background-color:$lanote;
color: $lanote_ecrit;
	a
	{
text-decoration: none;
	}
		& :hover
		{
			color:$lanote_ecrit
		}
}

// menu le chic//
.menu--lechic
{
	background-color:$lechic;
	font-family: 'aliceregular', Arial, Helvetica, sans-serif;
	
	a
	{
text-decoration: none;
	}
		& :hover
		{
			color:$lanote_ecrit
		}
	
	}
//menu le delice//
.menu--ledelice
{
	background-color:$ledelice;
	color: $lanote_ecrit;
	a
	{
text-decoration: none;
	}
		& :hover
		{
			color:$lanote_ecrit
		}
	
	}
// menu la palette//
.menu--palette
{
	background-color:$lapalette;
	color: $lanote_ecrit;
	a
	{
text-decoration: none;
	}
		& :hover
		{
			color:$lanote_ecrit
		}
	
	}
//attente//
#attente
{
	display: block;
	text-align: center;
	background-color: $extremite;
	background-position: center;
	width: 25%;
	color: $ecrit;
	margin-left: 35%;
	border: -2px -2px 10px black;
	padding: 20px 50px 20px 50px;
	font-size: 2.5em;
	font-weight: bold;
	border-radius: 30px;
}

