@import"variables";
@import"entetepied";

//general //
h2
{
	text-align: center;
}
//logo//


//menus//
main
{
	margin-bottom: 20%;
	font-size: 20px;
}
.menu
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 70%;
	text-align: center;
	//border: 1px solid;//
	margin: 0 auto;
}
.menu__nom
{
	border: 1px solid;
	padding: 20% 5% 20% 5%;
	width: 300px;
	height: 150px;
	text-align: center;
	margin-top: 50px;	
	margin-bottom: 30px;
}
.menu__lien
{
	text-align: center;
}

//menu la note enchantée//
.menu--lanote
{
font-family: Lobster, Arial, sans-serif;
font-size: 20px;
background-color:$lanote;
color: $lanote_ecrit;
	a
	{
text-decoration: none;
font-family: Cabin, Arial, sans-serif;
font-weight: bold;
	}
		& :hover
		{
			color:$lanote_ecrit
		}
}

// menu le chic//
.menu--lechic
{
	background-color:$lechic;
	font-family: "Croissant One", Arial, Helvetica, sans-serif;
	font-weight: regular;
	font-size: 15px;
	a
	{
text-decoration: none;
//font-family: "Playfair Display", Arial, Helvetica, sans-serif;//
font-family: 'Playfair Display', serif;
font-size: 30px;
	}
		& :hover
		{
			color:$lanote_ecrit
		}
	
	}
//menu le delice//
.menu--ledelice
{
	background-color:$ledelice;
	color: $lanote_ecrit;
	font-family: "Dancing Script","Comic sans MS", sans-serif;
	a
	{
text-decoration: none;
font-family: McLaren, Arial, Helvetica, sans-serif;
font-weight:bold;
	}
		& :hover
		{
			color:$lanote_ecrit
		}
	
	}
// menu la palette//
.menu--lapalette
{
	background-color:$lapalette;
	color: $lanote_ecrit;
	font-family: Yesteryear,"Comic sans MS", sans-serif;
	font-size: 20px;
	
	a
	{
text-decoration: none;
font-family: McLaren, Arial, Helvetica, sans-serif;
	}
		& :hover
		{
			color:$lanote_ecrit
		}
	
	}
//attente//
#attente
{
	display: block;
	text-align: center;
	background-color: $extremite;
	background-position: center;
	width: 25%;
	color: $ecrit;
	margin:0 auto;
	padding: 20px 50px 20px 50px;
	font-size: 2.5em;
	font-weight: bold;
	border-radius: 30px;
}

