/* general*/
header, footer
{
	background-color : red;
	color : yellow;
	text-align: center;
}

/*logo*/
header
{
font-weight: bold;
font-size: 3em;
}

/*menus*/
#menus
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.menunom
{
	border: solid;
}

/*attente*/
#attente
{
	display: block;
	text-align: center;
	background-color: red;
	background-position: center;
}

/*pied de page*/
#pied
{
	display: flex;
	justify-content: space-between;
	margin-left: 3%;
	margin-right: 3%;
}